.third-section-div-container{
    height: 100vh;
    width: 100vw;
    background-image: url('../../../src/assests/Rectangle 77.jpg');
    background-size: cover;
}


@media screen and (min-width: 608px) {
    .third-section-div-container{
        height: 100vh;
        width: 100vw;
        display: flex;
    }

    .third-first-section{
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-self: flex-end;
        height: 100vh;
    }

    .second-section-list-items{
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-right: 10px;
        height: 100vh;
        color: white;
    }


    .first-part-third-section-heading{
        font-family: ABeeZee;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        color: #FFFFFF;
        width: 720px;
        height: 140px
    }

}

.third-first-section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    top: 622px;
    left: 40px;
    gap: 30px;
    padding: 20px;
}

.first-part-third-section{
    padding: 4px;
}

.unorder-list-container-third-section{
    /* width: 50vw; */
    padding: 10px;
}
.first-part-paragraph-third-section{
    font-family: ABeeZee;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.18px;
    letter-spacing: 0.02em;
    width: 350px;
    text-align: left;
    color: #FFFFFF;
}

.first-part-third-section-heading{
    font-family: ABeeZee;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: #FFFFFF;
    width: 350px;
    height: 140px
}

.first-part-paragraph-two{
    font-family: Sailec;
    font-size: 16px;
    font-weight: 400;
    width: 350px;
    height: 48px;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}


.second-section-list-items{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    color: white;
}
.unorder-list-container{
    padding: 4px;
    margin: 10px;
}
.list-items{
color:#FFFFFF;
list-style-type: none;
}

.list-item-label{
    color: #FFFFFF;
    font-family: ABeeZee;
font-size: 12px;
font-weight: 400;
line-height: 14.18px;
letter-spacing: 0.02em;
text-align: left;
padding: '2px';

}

.list-div-contianer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal-line-third-section{
    border-color: gray;
}

.arrow-element{
font-size: 10px;
gap: 2;
padding: 2px;
}

.arrow-icon{
    padding-left: 2px;
    padding-top: 3px;
}